

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.home {
  display: flex;
 
}
.box {
    animation-name: slidein;
    animation-duration: 4s;
}

